<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title><%= title %></title>

    <link rel="stylesheet" href="/static/jquery.colorbox.css"/>
    <link rel="stylesheet" href="/static/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/bootstrap-theme.min.css"/>

    <script type="text/javascript" src="/static/jquery-2.1.0.js"></script>
    <script type="text/javascript" src="/static/jquery.colorbox-min.js"></script>
    <script type="text/javascript" src="/static/bootstrap.min.js"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">WordTutor</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/exercise">学习</a></li>
                <li><a href="/exam">考试</a></li>
                <li><a href="/grade">成绩单</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">其他<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <!--<li><a href="/manage/user">用户管理</a></li>-->
                        <li><a href="/manage/word">词库管理</a></li>
                        <li class="divider"></li>
                        <li><a href="#">关于</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div style="margin-bottom: 60px;height: 20px;"></div>
<div class="container">
    <% if (error != null){ %>
    <div class="alert alert-warning"><%= error %></div>
    <% } %>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">用户注册</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" role="form" action="/regist" method="post">
                <div class="form-group">
                    <label for="account.name" class="col-sm-2 control-label">姓名</label>

                    <div class="col-sm-10">
                        <input id="account.name" name="name" type="text" class="form-control" placeholder="Name"
                               min="6" max="32" required="true" value="<%= (account.name || '') %>"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="account.email" class="col-sm-2 control-label">邮箱</label>

                    <div class="col-sm-10">
                        <input id="account.email" name="email" type="email" class="form-control" placeholder="Email"
                               required="true" value="<%= account.email || '' %>"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="account.password" class="col-sm-2 control-label" required="true">密码</label>

                    <div class="col-sm-10">
                        <input id="account.password" name="password" type="password" class="form-control" placeholder="Password"
                               required="true"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">注册</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="reset" class="btn btn-default">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr>
    <footer>
        <p>&copy; 2014 <a href="mailto:pippo1980.du@gmail.com?subject=WordTutor" target="_blank">pippo1980.du@gmail.com</a></p>
    </footer>
</div>
</body>
</html>